<div class="side-header">
  <div class="side-header-name">
    <a href="#">Tom</a>
  </div>
  <div class="side-header-room-create">
    <a href="#">チャットを作成する</a>
  </div>
</div>
<div class="side-chat">
  <div class="room">
    <div class="room-name">
      <a href="#">chatoroom1</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">chatoroom2</a>
    </div>
  </div>
</div>