
.wrapper{
  display: flex;
  width: 100vw;
  height: 100vh;
}

/*side-bar*/
.side-bar{
  width: 300px;
  background-color: #253141;
}

.side-header{
  height: 100px;
  background-color: #253141;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.side-chat{
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  padding: 0 20px;
  overflow: scroll;
}

.side-header-name a{
  font-size: 16px;
  color: #fafafa;
  text-decoration: none;
}

.side-header-room-create a{
  font-size: 10px;
  color: deepskyblue;
  text-decoration: none;
  border: 1px solid lightblue;
  padding: 14px;
}

.room{
  padding: 20px 0 40px;
}

.room-name a{
  text-decoration: none;
  color: white;
}

/*main-chat*/
.main-chat{
  width: calc(100vw - 300px);
  background-color: #ffffff;
}

.main-header{
  height: 100px;
  background-color: #ffffff;
  padding: 0 40px;
}

.main-text{
  height: calc(100vh - 100px - 90px);
  background-color: #fafafa;
  padding: 46px 40px 0;
}

.main-form{
  height: 90px;
  background-color: #dddddd;
  padding: 20px 40px;
}