
.wrapper{
  display: flex;
  width: 100vw;
  height: 100vh;
}

/*side-bar*/
.side-bar{
  width: 300px;
  background-color: #253141;
}

.side-header{
  height: 100px;
  background-color: #253141;
  padding: 0 20px;
}

.side-chat{
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  padding: 0 20px;
}

/*main-chat*/
.main-chat{
  width: calc(100vw - 300px);
  background-color: #ffffff;
}

.main-header{
  height: 100px;
  background-color: #ffffff;
  padding: 0 40px;
}

.main-text{
  height: calc(100vh - 100px - 90px);
  background-color: #fafafa;
  padding: 46px 40px 0;
}

.main-form{
  height: 90px;
  background-color: #dddddd;
  padding: 20px 40px;
}